<div class="page-header">
  <h1>User Favorited Genre #<%= @user_favorited_genre.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User id</dt>
  <dd><%= @user_favorited_genre.user_ID %></dd>

  <dt>Genre id</dt>
  <dd><%= @user_favorited_genre.genre_ID %></dd>

</dl>
