<div class="page-header">
  <h1>User Favorited Movie #<%= @user_favorited_movie.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User id</dt>
  <dd><%= @user_favorited_movie.user_ID %></dd>

  <dt>Movie id</dt>
  <dd><%= @user_favorited_movie.movie_ID %></dd>

</dl>
